.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('/public/imagenes/libreria.jpg');
}

.texto-container {
  text-align: center;
  background-color: rgba(245, 206, 148, 0.9);
  padding: 30px;
  z-index: 1;
  border-radius: 10px;
  animation: fadeIn 1s ease-out;
}

.titulo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 3s ease-out;
}

.subtitulo {
  font-size: 1.5rem;
  animation: fadeIn 5s ease-out;
}

.barraProgreso {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px 30px 0px 30px;
}

.progreso {
  height: 100%;
  background-color: #3498db;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }
}